* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #343233;
}

.swal-modal {
  background-color: #ffd152 !important;
}

.swal-button {
  background-color: #61efce;
  color: #343233;
}

.homeContainer {
  width: 60rem;
  max-width: 90%;
  margin: 3rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.homeContainer .homeTitle {
  color: #efdab9;
  text-align: center;
  margin-bottom: 2rem;
}

.homeContainer .menuWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  position: relative;
}

.homeContainer .menuWrapper .menuButton {
  position: relative;
}

.homeContainer .menuWrapper .menuButton:hover .imgWrapper {
  display: block;
}

.homeContainer .menuWrapper .menuButton .imgWrapper {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60rem;
  top: 60%;
  display: none;
}

.homeContainer .menuWrapper .menuButton .imgWrapper > img {
  width: 15rem;
  max-width: 100%;
}

.homeContainer .mobileMenuWrapper {
  width: 100%;
  padding: 0 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homeContainer .mobileMenuWrapper .select-holder {
  margin-bottom: 20rem;
}

.homeContainer .mobileMenuWrapper .mobImageWrapper {
  margin-bottom: 4rem;
  width: 100%;
  text-align: center;
}

.homeContainer .mobileMenuWrapper .mobImageWrapper img {
  max-width: 100%;
  width: 40rem;
  display: none;
}

.homeContainer .mobileMenuWrapper .mobImageWrapper img.truckImg {
  width: 45rem;
}

.homeContainer .mobileMenuWrapper .mobImageWrapper img.crusherImg {
  width: 23rem;
  margin-right: -2rem;
}

.homeContainer .mobileMenuWrapper .detailsWrapper {
  margin-bottom: 6rem;
}

.homeContainer .mobileMenuWrapper .detailsWrapper > p {
  color: #ffd152;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  line-height: 1.7;
  display: none;
}

.homeContainer .mobileMenuWrapper .linkWrapper {
  width: 100%;
}

.homeContainer .mobileMenuWrapper .linkWrapper .menuButton {
  font-size: 2.5rem;
  width: 100%;
  display: none;
}

.homeContainer .mobileMenuWrapper .select-holder {
  position: relative;
  width: 100%;
  margin-bottom: 4rem;
}

.homeContainer .mobileMenuWrapper .select-holder select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: none;
  border: 1px solid #ffd152;
  border-radius: 6px;
  padding: .25rem;
  font-size: 4rem;
  margin: 5rem 0 .5rem 0;
  color: #efdab9;
  outline: none;
  width: 100%;
  text-align: center;
  text-align-last: center;
}

.homeContainer .mobileMenuWrapper .select-holder input {
  text-align: center;
  width: 100%;
  pointer-events: none;
  background: none;
  border: 1px solid #ffd152;
  border-radius: 6px;
  padding: .25rem;
  font-size: 4rem;
  margin: 5rem 0 .5rem 0;
  color: #efdab9;
  outline: none;
  width: 100%;
  text-align: center;
  text-align-last: center;
}

.homeContainer .mobileMenuWrapper .select-holder span {
  position: absolute;
  top: 55%;
  right: 0px;
  -webkit-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
  pointer-events: none;
  color: #efdab9;
  font-size: 3rem;
}

.homeContainer .contentWrapper {
  width: 100%;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homeContainer .contentWrapper .machineGeneralInputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homeContainer .contentWrapper .outputInputImageWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homeContainer .contentWrapper .outputInputImageWrapper img {
  max-width: 100%;
  width: 40rem;
  padding: 2rem;
}

.btn {
  display: inline-block;
  padding: 0.85em 1em;
  margin: .5rem 0;
  min-width: 19rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.btn.turquoiseBtn {
  background-color: #61efce;
  color: #343233;
}

.btn.turquoiseBtn:hover {
  background-color: #45edc6;
}

.btn.turquoiseBtn:focus {
  background-color: #17e9b8;
}

.btn.yellowBtn {
  background-color: #ffd152;
  color: #343233;
}

.btn.yellowBtn:hover {
  background-color: #ffc31f;
}

.btn.yellowBtn:focus {
  background-color: #ebac00;
}

.btn.fullWidth {
  width: 100%;
}

.fullBtnWrapper {
  width: 100%;
}

.inputWrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.inputWrapper > label {
  color: #efdab9;
  margin-bottom: .7rem;
  width: 100%;
  font-size: .95rem;
}

.inputWrapper input, .inputWrapper select {
  background: none;
  border: 1px solid #efdab9;
  border-radius: 6px;
  padding: .25rem;
  font-size: 1rem;
  margin-bottom: .5rem;
  color: #efdab9;
  outline: none;
  width: 100%;
}

.inputWrapper input option, .inputWrapper select option {
  background-color: #343233;
  color: #efdab9;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1024px) {
  .homeTitle {
    font-size: 2rem;
  }
  .homeContainer .contentWrapper {
    margin-top: 2rem;
  }
  .homeContainer .contentWrapper .machineGeneralInputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .homeContainer .contentWrapper .outputInputImageWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 4rem;
    width: 100%;
  }
  .homeContainer .contentWrapper .outputInputImageWrapper div {
    width: 100%;
  }
  .homeContainer .contentWrapper .outputInputImageWrapper > img {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding: 0;
  }
  .homeContainer .contentWrapper .outputInputImageWrapper .crusherImg {
    width: 10rem;
  }
  .homeContainer .contentWrapper .outputInputImageWrapper .elekImg {
    width: 15rem;
  }
  .homeContainer .menuWrapper {
    display: none;
  }
  .homeContainer .mobileMenuWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=styles.css.map */